/*
------------------------------------------------------------
Project Name : VR Theme 4;
------------------------------------------------------------
@charset "utf-8";

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --sidebar-width: 130px;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* General 
--------------------------------------------------------------------------------------------------------*/
* {outline: none !important;}

html,
body {min-width: 375px; min-height: 100vh;}

body {-ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;}

.wrapper {min-height: 100vh;}
a {color: #000;text-decoration: none !important;}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em;
    padding: 0;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    display: block;
}

input[type=text],
input[type=email],
input[type=password],
textarea { -webkit-appearance: none; appearance: none;}

.chakra-input::-webkit-input-placeholder {color: #B2B2B2;}
.chakra-input::-moz-placeholder {color: #B2B2B2;}
.chakra-input:-ms-input-placeholder {color: #B2B2B2;}
.chakra-input:-moz-placeholder {color: #B2B2B2;}

::-moz-focus-inner {border: 0;}
select:-moz-focusring {color: transparent;text-shadow: 0 0 0 #000;}
option:not(:checked) {color: black;}
p {padding: 0;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {-webkit-appearance: none;}

/* width */
::-webkit-scrollbar {width: 17px;}
  
/* Track */
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px grey; border-radius: 10px;}
   
/* Handle */
::-webkit-scrollbar-thumb {background: linear-gradient(90.11deg, #E239F1 0%, #2296CB 101.9%); border-radius: 10px;}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: linear-gradient(90.11deg, #2296CB 101.9%, #E239F1 101.9%) }

/* FontSize
--------------------------------------------------------------------------------------------------------*/

/* Common CSS
--------------------------------------------------------------------------------------------------------*/
h3.chakra-text{font-size: 35px; line-height: 40px;}
h4.chakra-text{font-size: 25px; line-height: 30px; font-weight: 600;}
h5.chakra-text{font-size: 24px; line-height: 30px; font-weight: 600;}
h6.chakra-text{font-size: 20px; line-height: 26px;}
.page-title{ padding-bottom: 20px;}
.card-title{color: #CFD2DC;}
.card-heading{display: flex;align-items: center;justify-content: space-between;padding: 0 0 18px;}
.card-heading .chakra-menu__menu-button{background-color: transparent; border: 0; border-radius: 50%;width: 30px;height: 30px;min-width: 0;margin-top: 2px;margin-right: -6px;}
.card-heading .chakra-menu__menu-button:hover,
.card-heading .chakra-menu__menu-button:active,
.card-heading .chakra-menu__menu-button:focus{background-color: rgba(255,255,255, 0.08);}
.card-heading .chakra-menu__menu-button[data-active]{background-color: rgba(255,255,255, 0.08); border-color: transparent;}

/* Custom Card
--------------------------------------------------------------------------------------------------------*/

/* Button
--------------------------------------------------------------------------------------------------------*/
.icon-btn.chakra-button{width: 48px; height: 48px; min-width: 0; border-radius: 8px;}
.icon-btn.chakra-button:hover,
.icon-btn.chakra-button:focus{background-color: rgba(255,255,255, 0.08);}

/* Header
--------------------------------------------------------------------------------------------------------*/
.header{display: flex;align-items: center;background-color: #0F1E4E; padding: 15px 26px 14px 0;position: fixed;top: 0;left: 0;right: 0;z-index: 1;}
.header .search-wrapper{position: relative; max-width: 304px; width: 100%; margin-left: 116px;}
.header .search-wrapper .chakra-input{border-radius: 10px; border-color: transparent; padding: 8px 8px 8px 35px; height: 48px; color: #FFFFFF; background-color: transparent; background-image: url('./assets/images/search-ic.svg'); background-position: left 8px center; background-repeat: no-repeat; font-family: inherit; font-size: 18px; line-height: 24px;}
.header .search-wrapper .chakra-input:focus{border-color: #59B997 !important;}
.header .search-wrapper .chakra-input::placeholder{color: #FFFFFF;}
.header .chakra-menu__menu-button{background-color: transparent; border: 1px solid transparent; border-radius: 8px; font-weight: 400; padding: 8px 8px 8px 10px;font-size: 18px; line-height: 24px;letter-spacing: 0px;}
.header .chakra-menu__menu-button:active,
.header .chakra-menu__menu-button[data-active]{background-color: transparent; border-color: transparent;}
.header .chakra-menu__menu-button >span{display: flex;align-items: center;}
.header .chakra-menu__menu-button .user-profile-pic{margin-right: 8px;}
.header .chakra-menu__menu-button .chakra-button__icon{margin-left: 8px;}
.header .right-content{margin-left: auto;display: flex;align-items: center;}
.header .icon-btn{margin-right: 10px;border: transparent;}
.header .chakra-menu__menu-button:hover,.header .chakra-menu__menu-button:focus{background-color: rgba(255,255,255, 0.08);}
.page-scrolled .header{box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.17);}


/* Login Page
--------------------------------------------------------------------------------------------------------*/
.login-wrapper{min-height: 100vh; position: relative; z-index: 1;}
.shape-wrapper{position: fixed; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden;}
.shape-wrapper .shape{ position: absolute; height: 498px; width: 498px; border-radius: 50%; filter: blur(250px);}
.shape-wrapper .shape.blue{background-color: #0081FF; top: -93px; left: -104px;}
.shape-wrapper .shape.pink{background-color: #C634DA; bottom: -168px; right: -155px;}
.shape-wrapper .diamond-shape, .shape-wrapper .pill-shape,.shape-wrapper .round-shape{position: absolute;}
.shape-wrapper .diamond-shape{right: 32px; bottom: 80px;}
.shape-wrapper .round-shape{right: calc(50% + 229px); bottom: 160px;}
.shape-wrapper .pill-shape{left: 95px; bottom: 397px;}
.login-container{height: 100vh;}
.login-wrapper-left{max-width: 420px; width: 100%; margin: 0 auto; padding-top: 98px; padding-bottom: 133px; padding: 98px 20px 133px; height: 100%; display: flex; flex-direction: column; justify-content: space-between;}
.login-wrapper-left .login-logo{display: inline-block; padding-bottom: 20px; align-self: start;}
.login-wrapper-right{display: flex; height: 100%;}
.login-wrapper-right img{margin: auto 0;}
.login-form-outer{position: relative;}
.login-form-outer::after, .login-form-outer::before, .login-form::after, .login-form::before{content: ''; position: absolute;}
.login-form-outer::after{ left: 0; top: -2px; right: 0; height: 2px; background:linear-gradient(90deg, rgba(226,57,241,1) 0%, rgba(34,150,203,1) 100%);}
.login-form-outer::before{left: 0; bottom: -2px; right: 0; height: 2px; background:linear-gradient(90deg, rgba(226,57,241,1) 0%, rgba(34,150,203,1) 100%);}
.login-form::after{ left: -2px; top: -2px; bottom: -2px; width: 2px; background:#E239F1;}
.login-form::before{right: -2px; top: -2px; bottom: -2px; width: 2px; background:#2296CB;}
.login-form{padding: 22px 41px 38px; background-color: rgba(0, 0, 0, 0.2);}
.login-tab .chakra-tabs__tab{text-transform: uppercase; color: #fff; opacity: 0.7; font-size: 16px; line-height: 22px; font-weight: 600; padding: 16px 0;}
.login-tab .chakra-tabs__tab:not(:first-child){margin-left: 46px;}
.login-tab .chakra-tabs__tablist{border: none;}
.login-tab .chakra-tabs__tab[aria-selected=true], .login-tab .chakra-tabs__tab[data-selected]{ border-color: #fff; opacity: 1; }
.login-tab .chakra-tabs__tab-panel{padding: 0;}
.login-tab h4{padding-top: 50px; padding-bottom: 24px;}
.login-form .username-field{margin-bottom: 33px;}
.login-form .password-field{margin-bottom: 50px;}
.login-form .chakra-link{color: #B2B2B2;}
.login-form .chakra-link.chakra-button{margin-bottom: 37px;}
.login-wrapper .copyright-text{color: #FFFFFF; opacity: 0.7; padding-top: 20px;}
.filter{height: 50px; width: 50px; background-color: #0081FF; filter: blur(250px);}

/* Sidebar
--------------------------------------------------------------------------------------------------------*/
.sidebar{position: fixed; top: 0; left: 0; bottom: 0; display: flex; flex-direction: column; background-color: #0F1E4E; width: var(--sidebar-width); flex-wrap: nowrap; overflow: auto; transition: all 0.3s; z-index: 4;}
.sidebar li .nav-link{display: flex;flex-direction: column; align-items: center; color: #FFFFFF; padding: 15px; position: relative;margin-bottom: 8px;}
.sidebar li:last-child .nav-link{margin-bottom: 0;}
.sidebar li .nav-link .img-wrapper{position: relative;}
.sidebar li .nav-link img{display: block;width: 30px;height: 30px;margin-bottom: 9px;}
.sidebar li .nav-link .active-icon{display: block;position: absolute;top: 0;opacity: 0;}
.sidebar li .nav-link span{color: #FFFFFF; transition: all 300ms ease;}
.sidebar li .nav-link::after { content: ''; position: absolute; left: 50%; bottom: 0; top: 0; transform: translateX(-50%); height: 100%; width: 0; background-color: rgba(255,255,255, 0.08); transition: all 300ms ease; z-index: -1;}
.sidebar li .nav-link:not(.active):hover::after { width: 100%;}
.sidebar li .nav-link.active .chakra-text{background: -webkit-linear-gradient(#E239F1, #2296CB);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.open-sidebar .sidebar{left: calc(-1 * var(--sidebar-width));}
.sidebar li a:not(.active):focus{background-color: rgba(255,255,255, 0.08);}
.sidebar .logo{width: 42px;height: 42px;display: flex;align-items: center;justify-content: center;margin: 30px auto 42px;}
.logo > img{display: block;}
.sidebar li .nav-link.active .active-icon{opacity: 1;}
.sidebar li .nav-link.active .default-icon{opacity: 0;}
.logo{width: 42px;height: 42px;display: flex;align-items: center;justify-content: center;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.main-content{ padding: 110px 37px 40px; transition: all 0.3s; width: calc(100% - var(--sidebar-width)); margin-left: var(--sidebar-width);}

.statistic-card{background-color: #0F1E4E;display: flex;flex-direction: column;padding: 22px 30px 24px; border: 1px solid transparent; height: 100%;transition: all 300ms ease;}
.statistic-card .flex-block{display: flex;align-items: center;justify-content: space-between;}
.statistic-card .data-difference{display: flex;align-items: center;padding-bottom: 3px;}
.statistic-card .card-title{padding-bottom: 16px;}
.statistic-card .card-number{padding-bottom: 21px;font-weight: 700;}
.statistic-card .data-difference > img{display: block;margin-right: 5px;}
.statistic-card .data-time-log{color: #CFD2DC;font-size: 12px;line-height: 16px;}
.sale-up .data-difference{color: #65FF87;}
.sale-down .data-difference{color: #FF3535;}
.revenue-card .data-chart{height: 290px;}
.statistic-card:hover,.statistic-card:focus{border-color: #2296CB;box-shadow: 0px 0px 19px rgba(255,255,255, 0.18);}

.table-card .card-heading{padding-bottom: 8px;}
.campaign-card .chakra-progress{margin: 0 auto; display: block; margin: 0 auto 24px;}
.campaign-card .chakra-progress svg{width: 100%; margin: 0 auto;}
.campaign-card .chakra-progress div{color: #FFFFFF;}
.campaign-card .bottom-text{text-align: center; color: #CFD2DC;}
.campaign-card .bottom-text h5{font-size: 22px;padding-bottom: 10px;font-weight: 600;}
.campaign-card .bottom-text h6{font-size: 15px;line-height: 20px;}
.campaign-card .chakra-progress__track{stroke: #051444;}
.campaign-card .chakra-progress__indicator{stroke: #E239F1;}

/* Inner Page
--------------------------------------------------------------------------------------------------------*/

/* Alert
--------------------------------------------------------------------------------------------------------*/

/* Checkbox
--------------------------------------------------------------------------------------------------------*/

/* Responsive Media Query
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1399px) {
    .statistic-card{padding: 20px;}
    .statistic-card .card-mockup{width: 80px;height: 80px;}
}

@media (max-width:1199px) {
    .sidebar{width: calc(var(--sidebar-width) - 30px);}
    .sidebar li .nav-link{padding: 10px;}
    .main-content{margin-left: calc(var(--sidebar-width) - 30px); width: calc(100% - (var(--sidebar-width) - 30px)); padding: 110px 30px 40px;}

}

@media (max-width:991px) {
    .page-title{padding-bottom: 16px;}
    .header .chakra-menu__menu-button .user-profile-pic{margin-right: 0;}
    .header .chakra-menu__menu-button .chakra-button__icon{display: none;}
    .header .chakra-menu__menu-button{min-width: 0; width: 48px;height: 48px; padding: 8px;display: flex;align-items: center;justify-content: center;}
    .main-content{padding: 90px 16px 40px;}
    .header .search-wrapper{margin-left: 64px;}
    .overlay{ position: fixed; top: 0; left: 0; bottom: 0; width: 100%; visibility: hidden; opacity: 0; transition: all 0.3s; background-color: rgba(0, 0, 0, 0.5); z-index: 1;}
    .statistic-card{padding: 16px;}
    

}

@media (max-width:767px) {
    .header{padding: 10px 4px; z-index: 2;}
    .logo{width: 32px;height: 32px;}
    .icon-btn.chakra-button{width: 40px;height: 40px;}
    .header .search-wrapper{position: fixed;left: 0;right: 0;top: -100px;background-color: #051444;max-width: none; transition: all 0.3s; padding: 16px; z-index: 1; margin-left: 0;}
    .header .search-wrapper .chakra-input{background-color: #0F1E4E;}
    .header .icon-btn{margin-right: 8px;}
    .show-searchbar .search-wrapper{top: 0;}
    .sidebar{left: calc(-1 * var(--sidebar-width) - 100px); width: calc(var(--sidebar-width) + 100px); z-index: 4;}
    .sidebar .login-logo{margin: 30px 20px;display: block;}
    .sidebar .login-logo >img{height: 32px;}
    .sidebar li .nav-link{flex-direction: row; padding: 10px 20px;}
    .sidebar li .nav-link img{margin-bottom: 0;}
    .sidebar li .nav-link .img-wrapper{margin-right: 10px;}
    .main-content{width: 100%; margin-left: 0;}
    .open-sidebar .sidebar{left: 0;}
    .open-sidebar .overlay, .show-searchbar .overlay{ opacity: 1; visibility: visible; z-index: 3;}
    .statistic-card .card-title{padding-bottom: 8px;}


}

@media (max-width:575px) {
    h4.chakra-text{font-size: 20px; line-height: 24px;}
    .login-wrapper-left .login-logo img{max-width: 170px;}
    .login-form{padding: 20px;}
    .login-tab .chakra-tabs__tab{padding: 8px 0;}
    .login-tab h4{padding-top: 30px;padding-bottom: 16px;}
    .login-form .username-field{margin-bottom: 24px;}
    .login-form .password-field{margin-bottom: 40px;}
    .login-form .chakra-link.chakra-button{margin-bottom: 30px;}
    .btn-primary.chakra-button{padding: 8px 16px;}
    
}
