/*
------------------------------------------------------------
Project Name : VR Theme 4;
------------------------------------------------------------
@charset "utf-8";

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --sidebar-width: 130px;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/* General 
--------------------------------------------------------------------------------------------------------*/
* {outline: none !important;}

html,
body {min-width: 375px; min-height: 100vh;}

body {-ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;}

.wrapper {min-height: 100vh;}
a {color: #000;text-decoration: none !important; box-shadow: none !important;}
button{box-shadow: none !important;}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em;
    padding: 0;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    display: block;
}

input[type=text],
input[type=email],
input[type=password],
textarea { -webkit-appearance: none; appearance: none;}

::-moz-focus-inner {border: 0;}
select:-moz-focusring {color: transparent;text-shadow: 0 0 0 #000;}
option:not(:checked) {color: black;}
p {padding: 0;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {-webkit-appearance: none;}

/* width */
::-webkit-scrollbar {width: 4px; height: 4px;}  
/* Track */
::-webkit-scrollbar-track {border-radius: 10px;}
/* Handle */
::-webkit-scrollbar-thumb {background: #2296CB; border-radius: 10px;}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #2296CB; }

/* FontSize
--------------------------------------------------------------------------------------------------------*/
h3.chakra-text{font-size: 35px; line-height: 40px;}
h4.chakra-text{font-size: 25px; line-height: 30px; font-weight: 600;}
h5.chakra-text{font-size: 24px; line-height: 30px; font-weight: 600;}
h6.chakra-text{font-size: 20px; line-height: 26px;}

/* Common CSS
--------------------------------------------------------------------------------------------------------*/
.primary-link{position: relative; line-height: 20px; color: #B2B2B2;}
.primary-link::after{content: ''; position: absolute; left: 0; bottom: -2px; height: 1px; transition: all 0.3s; width: 0; background: linear-gradient(90deg, rgba(226,57,241,1) 0%, rgba(34,150,203,1) 100%);}
.primary-link:hover::after,.primary-link:focus::after{width: 100%;}
.page-title{ padding-bottom: 20px;}
div.chakra-form__error-message{color: #FF3535; font-size: 12px; line-height: 16px;}
.card-heading{display: flex;align-items: center;justify-content: space-between;padding: 0 0 18px;}
.card-heading .chakra-menu__menu-button{background-color: transparent; border: 0; border-radius: 50%;width: 30px;height: 30px;min-width: 0;margin-top: 2px;margin-right: -6px;}
.card-heading .chakra-menu__menu-button:hover,
.card-heading .chakra-menu__menu-button:active,
.card-heading .chakra-menu__menu-button:focus{background-color: rgba(255,255,255, 0.08);}
.card-heading .chakra-menu__menu-button[data-active]{background-color: rgba(255,255,255, 0.08); border-color: transparent;}
.secondary-section{padding-top: 64px;}
.secondary-section.three-col{padding-top: 50px;}
.secondary-section.four-col{padding-top: 30px;}
.secondary-section.other-section{padding-top: 54px;}
.secondary-section.tab-wrapper{padding-top: 58px;}
.password-iconbutton.chakra-input__right-element{top: auto; bottom: 4px; right: 8px;}
.password-iconbutton .chakra-button{background-color: transparent; border-radius: 50%; width: 30px; height: 30px; min-width: auto;}
.password-iconbutton .chakra-button:hover, .password-iconbutton .chakra-button:focus{background-color: #172e78;}
.chakra-card .chakra-table__container{max-width: calc(100vw - 64px);}
.open-sidebar,.show-searchbar{overflow: hidden;}
.radio-group{padding-bottom: 43px;}
.check-group{padding-bottom: 39px;}
.snackbar-group{padding-bottom: 52px;}

/* Custom Card
--------------------------------------------------------------------------------------------------------*/

/* Button
--------------------------------------------------------------------------------------------------------*/
.icon-btn.chakra-button{width: 48px; height: 48px; min-width: 0; border-radius: 8px;}
.icon-btn.chakra-button:hover,
.icon-btn.chakra-button:focus{background-color: rgba(255,255,255, 0.08);}

/* Header
--------------------------------------------------------------------------------------------------------*/
.header{display: flex;align-items: center;background-color: #0F1E4E; padding: 15px 26px 14px 0;position: fixed;top: 0;left: var(--sidebar-width);right: 0;z-index: 1;}
.header .search-wrapper{position: relative; max-width: 304px; width: 100%; margin-left: 28px;}
.header .search-wrapper .chakra-input{border-radius: 0; border-color: transparent; padding: 8px 8px 8px 35px; height: 48px; color: #FFFFFF; background-color: transparent; background-image: url('./assets/images/search-ic.svg'); background-position: left 8px center; background-repeat: no-repeat; font-family: inherit; font-size: 18px; line-height: 24px;}
.header .search-wrapper .chakra-input:focus{border-color: #A555FF !important;}
.header .search-wrapper .chakra-input::placeholder{color: #FFFFFF;}
.header .chakra-menu__menu-button{background-color: transparent; border: 1px solid transparent; border-radius: 8px; font-weight: 400; padding: 8px 8px 8px 10px;font-size: 18px; line-height: 24px;letter-spacing: 0px;}
.header .chakra-menu__menu-button:active,
.header .chakra-menu__menu-button[data-active]{background-color: transparent; border-color: transparent;}
.header .chakra-menu__menu-button >span{display: flex;align-items: center;}
.header .chakra-menu__menu-button .user-profile-pic{margin-right: 8px;}
.header .chakra-menu__menu-button .chakra-button__icon{margin-left: 8px;}
.header .right-content{margin-left: auto;display: flex;align-items: center;}
.header .icon-btn{margin-right: 10px;border: transparent;}
.header .chakra-menu__menu-button:hover,.header .chakra-menu__menu-button:focus{background-color: rgba(255,255,255, 0.08);}
.page-scrolled .header{box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.17);}

/* Login Page
--------------------------------------------------------------------------------------------------------*/
.login-wrapper{min-height: 100vh; position: relative; }
.shape-wrapper{position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow: hidden;}
.shape-wrapper .shape{ position: absolute; height: 498px; width: 498px; border-radius: 50%; filter: blur(250px);}
.shape-wrapper .shape.blue{background-color: #0081FF; top: -93px; left: -104px;}
.shape-wrapper .shape.pink{background-color: #C634DA; bottom: -168px; right: -155px;}
.shape-wrapper .diamond-shape, .shape-wrapper .pill-shape,.shape-wrapper .round-shape{position: absolute;}
.shape-wrapper .diamond-shape{right: 32px; bottom: 80px;}
.shape-wrapper .round-shape{right: calc(50% + 229px); bottom: 160px;}
.shape-wrapper .pill-shape{left: 95px; bottom: 397px;}
.login-container{min-height: 100vh; position: relative; z-index: 1;}
.login-wrapper-left{max-width: 420px; width: 100%; margin: 0 auto; padding-top: 98px; padding-bottom: 133px; padding: 98px 20px 133px; height: 100%; display: flex; flex-direction: column; justify-content: space-between;}
.login-wrapper-left .login-logo{display: inline-block; margin-bottom: 20px; align-self: start;}
.login-wrapper-right{display: flex; height: 100%;}
.login-wrapper-right img{margin: auto 0;}
.login-form-outer{position: relative;}
.login-form-outer::after, .login-form-outer::before, .login-form::after, .login-form::before{content: ''; position: absolute;}
.login-form-outer::after{ left: 0; top: -2px; right: 0; height: 2px; background:linear-gradient(90deg, rgba(226,57,241,1) 0%, rgba(34,150,203,1) 100%);}
.login-form-outer::before{left: 0; bottom: -2px; right: 0; height: 2px; background:linear-gradient(90deg, rgba(226,57,241,1) 0%, rgba(34,150,203,1) 100%);}
.login-form::after{ left: -2px; top: -2px; bottom: -2px; width: 2px; background:#E239F1;}
.login-form::before{right: -2px; top: -2px; bottom: -2px; width: 2px; background:#2296CB;}
.login-form{padding: 22px 41px 38px; background-color: rgba(0, 0, 0, 0.2);}
.login-tab .chakra-tabs__tab{text-transform: uppercase; color: #fff; opacity: 0.7; font-size: 16px; line-height: 22px; font-weight: 600; padding: 16px 0;}
.login-tab .chakra-tabs__tab:hover, .login-tab .chakra-tabs__tab:focus{border-color: rgba(255,255,255, 0.7); color: #FFFFFF;}
.login-tab .chakra-tabs__tab:not(:first-child){margin-left: 46px;}
.login-tab .chakra-tabs__tablist{border: none;}
.login-tab .chakra-tabs__tab[aria-selected=true], .login-tab .chakra-tabs__tab[data-selected]{ border-color: #fff; opacity: 1; background-color: transparent; color: #fff;}
.login-tab .chakra-tabs__tab-panel{padding: 0;}
.login-tab h4{padding-top: 50px; padding-bottom: 24px;}
.login-form .username-field{margin-bottom: 33px;}
.login-form .password-field{margin-bottom: 50px;}
.login-form .chakra-link:not(.chakra-button){color: #B2B2B2;}
.login-form .primary-link{margin-top: 37px; display: inline-block;}
.login-wrapper .copyright-text{color: #FFFFFF; opacity: 0.7; padding-top: 20px;}
.filter{height: 50px; width: 50px; background-color: #0081FF; filter: blur(250px);}

/* Sidebar
--------------------------------------------------------------------------------------------------------*/
.sidebar{position: fixed; top: 0; left: 0; bottom: 0; display: flex; flex-direction: column; background-color: #0F1E4E; width: var(--sidebar-width); flex-wrap: nowrap; overflow: auto; transition: all 0.3s; z-index: 1;}
.sidebar ul{height: 100%;}
.sidebar li .nav-link{display: flex;flex-direction: column; align-items: center; color: #FFFFFF; padding: 15px; position: relative;margin-bottom: 8px;}
.sidebar li:last-child .nav-link{margin-bottom: 0;}
.sidebar li .nav-link .img-wrapper{position: relative;}
.sidebar li .nav-link img{display: block;width: 30px;height: 30px;margin-bottom: 9px;}
.sidebar li .nav-link .active-icon{display: block;position: absolute;top: 0;opacity: 0;}
.sidebar li .nav-link span{color: #FFFFFF; transition: all 300ms ease;display: flex;align-items: center;justify-content: center;}
.sidebar li .nav-link .chakra-text{overflow: hidden;text-overflow: ellipsis;white-space: nowrap; width: 90px;text-align: center;}
.sidebar li .nav-link::after { content: ''; position: absolute; left: 50%; bottom: 0; top: 0; transform: translateX(-50%); height: 100%; width: 0; background-color: rgba(255,255,255, 0.08); transition: all 300ms ease; z-index: -1;}
.sidebar li .nav-link:not(.active):hover::after { width: 100%;}
.sidebar li .nav-link.active .chakra-text{background: -webkit-linear-gradient(#E239F1, #2296CB);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.open-sidebar .sidebar{left: calc(-1 * var(--sidebar-width));}
.sidebar li a:not(.active):focus{background-color: rgba(255,255,255, 0.08);}
.sidebar .logo{margin: 30px auto 42px;}
.logo > img{display: block;}
.sidebar li .nav-link.active .active-icon{opacity: 1;}
.sidebar li .nav-link.active .default-icon{opacity: 0;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.main-content{ padding: 110px 37px 35px; transition: all 0.3s; width: calc(100% - var(--sidebar-width)); margin-left: var(--sidebar-width);}

.statistic-card{background-color: #0F1E4E;display: flex;align-items: center; justify-content: space-between;padding: 22px 30px 24px; border: 1px solid transparent; height: 100%;transition: all 300ms ease;position: relative;z-index: 0;}
.statistic-card>div{max-width: calc(100% - 96px); width: 100%;}
.statistic-card .data-difference{display: flex;align-items: center;padding-bottom: 3px;}
.statistic-card .card-title{padding-bottom: 16px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.statistic-card .card-number{padding-bottom: 21px;font-weight: 700;}
.statistic-card .data-difference > img{display: block;margin-right: 5px;}
.statistic-card .data-time-log{color: #CFD2DC;font-size: 12px;line-height: 16px;}
.sale-up .data-difference{color: #65FF87;}
.sale-down .data-difference{color: #FF3535;}
.revenue-card .data-chart{height: 290px;}
.statistic-card::after { content: ''; position: absolute; left: 50%; bottom: 0; top: 0; transform: translateX(-50%); height: 100%; width: 0; background-color: rgba(255,255,255, 0.05); transition: all 300ms ease; z-index: -1;}
.statistic-card:hover::after,.statistic-card:focus::after{width: 100%;}

.table-card .card-heading{padding-bottom: 8px;}
.campaign-card .chakra-progress{margin: 0 auto; display: block; margin: 0 auto 24px;}
.campaign-card .chakra-progress svg{width: 100%; margin: 0 auto;}
.campaign-card .chakra-progress div{color: #FFFFFF;}
.campaign-card .bottom-text{text-align: center;}
.campaign-card .bottom-text h5{font-size: 22px;padding-bottom: 10px;font-weight: 600;}
.campaign-card .bottom-text h6{font-size: 15px;line-height: 20px;}
.campaign-card .chakra-progress__track{stroke: #051444;}
.campaign-card .chakra-progress__indicator{stroke: #E239F1;}

/* Inner Page
--------------------------------------------------------------------------------------------------------*/
/* .innerpage h5{padding-bottom: 16px;} */
span.chakra-checkbox__control{transition: all 0.3s;}
.chakra-checkbox__control >div> svg{ stroke-width: 0 !important; background-image: url('../src/assets/images/checkbox-checked-icon.svg'); background-size: 10px; height: 10px; width: 10px; transition: all 0.3s;}
/* File Upload
--------------------------------------------------------------------------------------------------------*/
.file-upload-wrapper{display: flex;align-items: center; padding-bottom: 43px;}
.file-upload-wrapper>p{margin-left: 33px;}
.file-content {display: inline-flex;align-items: center;justify-content: center;cursor: pointer; border: 1px solid #CFD2DC; padding: 9px 20px; cursor: pointer; position: relative;}
.file-content p{margin-left: 10px; font-weight: 600;}
.file-content input {position: absolute; left: 0; right: 0; top: 0; bottom: 0; cursor: pointer; opacity: 0;}
/* Alert
--------------------------------------------------------------------------------------------------------*/

/* Checkbox
--------------------------------------------------------------------------------------------------------*/

/* Responsive Media Query
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1399px) {
    .statistic-card{padding: 20px;}
    .statistic-card .card-mockup{width: 80px;height: 80px;}
}

@media (max-width:1199px) {
    .sidebar{width: calc(var(--sidebar-width) - 30px);}
    .sidebar li .nav-link{padding: 10px;}
    .main-content{margin-left: calc(var(--sidebar-width) - 30px); width: calc(100% - (var(--sidebar-width) - 30px)); padding: 110px 30px 35px;}
    .header{left: calc(var(--sidebar-width) - 30px);;}
    .secondary-section, .secondary-section.four-col,.secondary-section.other-section, .secondary-section.tab-wrapper{padding-top: 50px;}
}

@media (max-width:991px) {
    h3.chakra-text{font-size: 30px; line-height: 36px;}
    .page-title{padding-bottom: 16px;}
    .header .chakra-menu__menu-button .user-profile-pic{margin-right: 0;}
    .header .chakra-menu__menu-button .chakra-button__icon{display: none;}
    .header .chakra-menu__menu-button{min-width: 0; width: 48px;height: 48px; padding: 8px;display: flex;align-items: center;justify-content: center;}
    .main-content{padding: 90px 16px 16px;}
    .header .search-wrapper{margin-left: 8px;}
    .overlay{ position: fixed; top: 0; left: 0; bottom: 0; width: 100%; visibility: hidden; opacity: 0; transition: all 0.3s; background-color: rgba(0, 0, 0, 0.3); z-index: 1;}
    .statistic-card{padding: 16px;}
    .secondary-section, .secondary-section.four-col, .secondary-section.other-section, .secondary-section.tab-wrapper,.secondary-section.three-col{padding-top: 44px;}
    .snackbar-group{padding-bottom: 44px;}
}

@media (max-width:767px) {
    h3.chakra-text{font-size: 26px; line-height: 30px;}
    .header{padding: 10px 4px;left: 0;}
    h5.chakra-text{font-size: 20px; line-height: 24px;}
    .logo{width: 32px;height: 32px;}
    .icon-btn.chakra-button{width: 40px;height: 40px;}
    .header .search-wrapper{position: fixed;left: 0;right: 0;top: -100px;background-color: #051444;max-width: none; transition: all 0.3s; padding: 16px; z-index: 1; margin-left: 0;}
    .header .search-wrapper .chakra-input{background-color: #0F1E4E;}
    .header .icon-btn{margin-right: 8px;}
    .show-searchbar .search-wrapper{top: 0;}
    .sidebar{left: calc(-1 * var(--sidebar-width) - 100px); width: calc(var(--sidebar-width) + 100px);}
    .sidebar ul{padding-top: 8px;}
    .sidebar .login-logo{margin: 30px 20px;display: block;}
    .sidebar .login-logo >img{height: 32px;}
    .sidebar li .nav-link{flex-direction: row; padding: 8px 16px;}
    .sidebar li .nav-link img{margin-bottom: 0;}
    .sidebar li .nav-link .img-wrapper{margin-right: 10px;width: auto;}
    .sidebar li .nav-link span{justify-content: flex-start;}
    .main-content{width: 100%; margin-left: 0;}
    .open-sidebar .sidebar{left: 0;}
    .open-sidebar .overlay, .show-searchbar .overlay{ opacity: 1; visibility: visible;}
    .statistic-card .card-title{padding-bottom: 8px;}
    .secondary-section, .secondary-section.four-col, .secondary-section.other-section, .secondary-section.tab-wrapper, .secondary-section.three-col{padding-top: 34px;}
    .snackbar-group{padding-bottom: 34px;}
    .file-upload-wrapper,.radio-group,.check-group{padding-bottom: 32px;}
}

@media (max-width:575px) {
    h3.chakra-text{font-size: 24px; line-height: 26px;}
    h4.chakra-text{font-size: 20px; line-height: 24px;}
    h5.chakra-text{font-size: 18px; line-height: 22px;}
    .chakra-button.btn-primary{padding: 8px 16px;}
    .chakra-button.btn-outline-primary{padding: 7px 16px;}
    .login-wrapper-left .login-logo img{max-width: 170px;}
    .login-form{padding: 20px;}
    .login-tab .chakra-tabs__tab{padding: 8px 0;}
    .login-tab h4{padding-top: 30px;padding-bottom: 16px;}
    .login-form .username-field{margin-bottom: 24px;}
    .login-form .password-field{margin-bottom: 40px;}
    .login-form .primary-link{margin-top: 30px;}
}
